#input,
#output {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#search {
  width: 100px;
  padding: 6px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 4px;
  visibility: hidden;
}

#city {
  width: 300px;
  margin: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14pt;
}

#forecast {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 4rem;
}

.forecastDay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.out {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}
